.about {
    &__container {
      row-gap: 56px;
    }
    &__data {
      text-align: center;
    }
    &__description {
      margin-bottom: 40px;
    }
    &__img {
      width: 40%;
      margin-left: 30%;
    }
  }